@charset "utf-8";

//px,rem 변환
@function setSize($num) {
  @if $platform != 'mobile' { // pc인 경우
    @return #{$num * $fontSize + ($num * $fontSize * $scale)}px;
  } @else { // rem
      @return #{$num}rem;
  }
}

