@charset "utf-8";

@mixin global_w($w){
  width:$w;margin:0 auto;
}

@mixin tablet_w($w){
  padding-left:$w;padding-right:$w;
}

@mixin font-size($sizeValue) {//html font-size설정
	font-size: $sizeValue + px;
	font-size: (0.125 / 2 * $sizeValue) + rem;
}

@mixin box($type:border-box) {
  -webkit-box-sizing:$type;
  box-sizing:$type;
}

@mixin rnded ($rndValue) {
  border-radius:$rndValue;
}

@mixin midCenterTransform ($x, $y) {
	-webkit-transform:translate($x, $y);
	transform:translate($x, $y);
}
@mixin clampNum ($line) {
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:$line;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	word-wrap:break-word;
}

@mixin opacity($color, $opacity, $bg:false) {
	opacity:$opacity / 100;

	@if $bg == true{
		background-color: $color;
	}
}

@mixin absolute_full {
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	opacity:.01;
	cursor:pointer;
}

@mixin line_through($color) {
	position:absolute;left:setSize(-.2);right:setSize(-.2);height:1px;background:$color;top:50%;content:'';
}

@mixin ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

@mixin dummy{
	display:inline-block;
	overflow:hidden;
	height:100%;
	vertical-align:middle;
	content:'';
}
@mixin clearfix{
	&:after{
		display:block;
		clear:both;
		content:'';
	}
}

@mixin u_tb{
	display:table;
	width:100%;
	table-layout:fixed;
}
@mixin u_td{
	display:table-cell;
}

@mixin btn_set($btn_color,$txt_color:true){
	border-color:$btn_color;

  @if $txt_color == false{
		color:$c3_14;
	} @else {
    color:$btn_color;
  }
}

@mixin is_bg($bg_color,$txt_color:#fff) {
	background-color:$bg_color;
	color:$txt_color;
	border-color:$bg_color;
}

@mixin thumb_dim{
  &:after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:.03;
    content:'';
  }
}

@mixin fn_valign{
	font-size:0;text-align:center;
	&:after{
		@include dummy;
	}
	img{
		max-width:100%;height:auto;max-height:100%;vertical-align:middle;
	}
}
// a11y : 모듈 내 이미지 영역 outline 미노출 현상 대안
@mixin kbd_outline {
  position:absolute;top:0;left:0;width:100%;height:100%;box-shadow:inset 0 0 2px #000;content:'';
}

//-------------------------------------------------------------------//
// @Mixin Prefix
// @param {String}            $property  CSS속성명
//        {String or (Array)} $value     CSS속성값
//        {String or (Array)} $prefixes  default - webkit
//-------------------------------------------------------------------//
@mixin prefix($property, $value, $prefixes: (webkit)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}
//-------------------------------------------------------------------//
// @Mixin animation
// @param {String} $animate... css3 animation 속성값
// EX. @include animation(animationName 1.3s, animationName2 1.3s, ...);		
//-------------------------------------------------------------------//
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;  
      animation: $animations;
}
//-------------------------------------------------------------------//
// @Mixin keyframes
// @param {String} $animationName 
// EX. @include keyframes(myAnimationName) { content... }
//-------------------------------------------------------------------//
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin text_ellipsis {
  overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}

@mixin font_number {
    font-family: 'Noto Serif Number', serif;
}
