@charset "utf-8";

//platform
$platform: 'mobile';
$imp:'m';

// color set
$gray1:#d9d9d9; 

//color palette
$c1_0:#9a47fa;
$c1_1:#640faf;
$c1_2:#eb3671;
$c1_3:#faf4ff;
$c1_4:#faf4ff;
$c1_5:#f2f5f8;
$c1_6:#00bbff;
$c1_7:#303237;
$c1_8:#56585d;
$c1_9:#23eb96;

$c2_1:#fff;
$c2_2:#111;
$c2_3:#4d4d4d;
$c2_4:#666;
$c2_5:#808080;
$c2_6:#929292;
$c2_7:#c5c5c5;
$c2_8:#ccc;
$c2_9:#d9d9d9;
$c2_10:#d1d1d1;
$c2_11:#e6e6e6;
$c2_12:#f0f0f0;
$c2_13:#f6f6f6;
$c2_14:#f5f5f5;
$c2_15:#fafafa;

$c3_1:#0092cf;
$c3_3:#869aaa;
$c3_4:#758a9a;
$c3_5:#c5d0d9;
$c3_6:#f46208;
$c3_7:#927b5c;
$c3_8:#ffe8cb;
$c3_9:#7b6cd7;
$c3_10:#6c5bd4;
$c3_11:#cac3f8;
$c3_12:#2a2a2a;
$c3_13:#212121;
$c3_14:#333;
$c3_15:#496a93;
$c3_16:#ffe966;
$c3_17:#eb3838;
$c3_18:#e00b89;
$c3_20:#ec0040;
$c3_21:#f26d00;
$c3_22:#d73535;
$c3_23:#2e2f34;
$c3_24:#18191b;
$c3_25:#ef3e23;
$c3_26:#8860ee;
$c3_27:#ff8b64;
$c3_28:#39631f;

// font
$fontSize: 10;
$scale: 0;//모바일 대비 스케일 ex) 120% => 0.2입력

$base-url:'img';
$base-url2:'img';
$base-url-comm:'img';

$head-height:10.2rem;
$head-height-sub:4.3rem;
