@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    background:#{$body};
    color:#{$body-color};
}
#wrap {

}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: 0.2s;
}
.section2 {
    align-items: flex-start;
    height: 300vh;
}
.section2 span {
    position: sticky;
    left: 0;
    top: 50vh;
    margin: 100px 0;
}

.current {
    background: rgb(217, 240, 189);
}

.progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
}

@keyframes progress {
    to {
        background-color: rgb(20, 255, 226);
        width: 100%;
    }
}
:root * {
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.scroll-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 200px;
}

.scroll-container {
    position: sticky;
    top: 50vh;
    overflow: hidden;
    transform: translateY(-50%);
}

.scroll-content {
    display: flex;
    white-space: nowrap;
    transition: transform 0.1s ease-out; /* 부드러운 이동 */
}

.item {
    min-width: 300px;
    height: 200px;
    margin: 10px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: transform 0.1s ease-out; /* 크기 조정을 부드럽게 */
}